<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <!--Stylesheet-->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

    <!--JavaScript-->
    <script src="{{ site.baseurl }}/assets/js/script.js"></script>
    
    <!--plugins-->
    {% feed_meta %}
    {% seo %}
</head>
<body>
    {% include navigation.html %}
    {{ content }}
</body>
</html>
